<div class="callout">
  <% if @dogs %>
    <% @dogs.each do |dog| %>
      <div><%= dog.name %> (NS<%= dog.ns_id %>)</div>
      <div><%= dog.description %></div>
      <div>Located in: <%= dog.location %></div>
      <div></div>
    <% end %>
  <% end %>
</div>
