<nav class="top-bar">
  <div class="top-bar-left">
    <strong><%= link_to "NS4AR", root_path, id: "link" %></strong>
  </div>

  <section class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">About</a>
        <ul class="menu">
          <li><a href="#">Who We Are</a></li>
          <li><a href="#">Aussie Facts</a></li>
          <li><a href="#">Donate</a></li>
          <li><a href="#">Volunteer</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Adoptable Dogs</a>
        <ul class="menu">
          <% if @regions %>
            <% @regions.each do |region| %>
              <li><%= link_to region.name, region_path(region) %></li>
            <% end %>
          <% end %>
          <li><a href="#">Happy Endings</a></li>
        </ul>
      </li>
        <% if current_user %>
          <li>  signed in as <%= current_user.first_name %></li> |
          <li><%= link_to "View Profile", user_path(current_user), id: "link" %> </li>|
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "link" %></li>
          <% if current_user.admin == true %>
            <li>| <%= link_to "Admin", admin_users_path, id: "link" %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path, id: "link" %></li>
          <li><%= link_to 'Sign In', new_user_session_path, id: "link" %></li>
        <% end %>
    </ul>
  </section>
</nav>
